.button__mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;

  z-index: 5;

  border: 0;
  margin-left: auto;
  background: transparent;
}

.button__mobile:hover {
  cursor: pointer;
}

.button__mobile span {
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background: var(--text);

  transition: all 0.4s;
}

.button__mobile.active span:nth-child(2) {
  opacity: 0;
  width: 0px;
}

.button__mobile.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.button__mobile.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -4px);
}

@media(max-width: 900px) {
  .button__mobile {
    display: flex;
  }
}