@import url('./background-video.css');
@import url('./header.css');
@import url('./main.css');
@import url('./button-mobile.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text: #EDF1F7;
  --red: #C51212;
  --blue: #0041C2;
  --green: #14B02D;
  --yellow: #ffc12b;
}

body, button, a {
  color: var(--text);
  font: 400 1rem "Mukta", sans-serif;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
  overflow: hidden;

  padding: 0 48px;
}

@media(max-width: 500px) {
  #app {
    padding: 0 16px;
  }
}