#app header {
  width: 100%;
  max-width: 1440px;

  display: flex;
  align-items: center;
  column-gap: 64px;

  padding-top: 24px;
}

.logo__cap {
  width: 70px;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  flex: 1;
}

.navigation__links {
  display: flex;
  align-items: center;
  column-gap: 48px;

  list-style: none;
}

.navigation__link {
  position: relative;

  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navigation__link::before {
  content: '';

  position: absolute;
  bottom: -2px;
  left: 0;

  width: 70%;
  height: 1px;
  background: var(--red);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform .8s;
}

.navigation__link:hover {
  color: var(--red);
}

.navigation__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform .8s;
}

.navigation__social {
  display: flex;
  align-items: center;
  column-gap: 24px;

  margin-left: auto;
}

.navigation__social a {
  opacity: 0.6;
  transition: all 0.4s;
}

.navigation__social a:hover {
  cursor: pointer;
  opacity: 1;
  transform: translateY(-5px);
}

.navigation__social a {
  width: 20px;
  height: 20px;
}

@media(max-width: 900px) {
  .navigation {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 12, 16, 0.9);
    backdrop-filter: blur(2px);
    z-index: 2;

    flex-direction: column;
    justify-content: center;
    row-gap: 70px;

    transform: translateY(-100vh);
    transition: transform 0.4s;
  }

  .navigation.active {
    transform: translateY(0);
  }


  .navigation__links {
    flex-direction: column;
    row-gap: 32px;
  }

  .navigation__link {
    font-size: 20px;
  }
  
  .navigation__social {
    margin: 0;
  }

  .navigation__social a{
    opacity: 0.8;
  }
  
  .navigation__social a {
    width: 24px;
    height: 24px;
  }
}